{% load static %}
<header id="branding" role="banner">
  <div class="header">
    <div class="hgroup">
      <div class="container">
        <div class="row">
          <!-- Left crest (desktop) -->
          <div class="site-logo col-lg-3 col-md-3 col-sm-3 hidden-xs logo-sm">
            <a href="http://brown.edu" target="_blank" rel="noopener">
              <img src="{% static 'images/brown_logo_small.png' %}" alt="Brown University">
            </a>
          </div>
          <!-- Left crest (xs) -->
          <div class="site-logo col-xs-3 visible-xs-block">
            <a href="http://brown.edu" target="_blank" rel="noopener">
              <img src="{% static 'images/brown_logo_small.png' %}" alt="Brown University">
            </a>
          </div>

          <!-- Right-side Manage link (home page case) -->
          <div class="col-lg-3 col-lg-push-7 col-md-3 col-md-push-7 col-sm-3 col-sm-push-6 hidden-xs">
            <p>
              <a href="/manager" class="manage-profile-link">Manage your profile</a>
            </p>
          </div>
          <div class="col-xs-12 visible-xs-block">
            <p>
              <a href="/manager" class="manage-profile-link">Manage your profile</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
