<div class="card mb-4" id="people-left-panel">
  <div class="card-body">
    <section itemscope itemtype="http://schema.org/Person" id="individual-intro" class="vcard person" role="region">
      <section class="share-contact" role="region">
        <div id="photo-wrapper" aria-hidden="true"></div>
        <h2 class="hidden-sm hidden-md hidden-lg">{{ presenter.faculty.name }}</h2>
        <p class="text-muted small mb-2">VIVO ID: {{ presenter.faculty.vivo_id }}</p>

        <div id="tabButtons" class="btn-group-vertical">
          <a id="tabOverviewBtn" class="btn btn-default active" href="#Overview" title="Overview" onclick="return false;">Overview</a>
          {% if presenter.edit_mode or presenter.has_publications %}
            <a id="tabPublicationsBtn" class="btn btn-default" href="#Publications" title="Publications" onclick="return false;">Publications</a>
          {% endif %}
          {% if presenter.edit_mode or presenter.has_research %}
            <a id="tabResearchBtn" class="btn btn-default" href="#Research" title="Research" onclick="return false;">Research</a>
          {% endif %}
          {% if presenter.edit_mode or presenter.has_background %}
            <a id="tabBackgroundBtn" class="btn btn-default" href="#Background" title="Background" onclick="return false;">Background</a>
          {% endif %}
          {% if presenter.edit_mode or presenter.has_affiliations %}
            <a id="tabAffiliationsBtn" class="btn btn-default" href="#Affiliations" title="Affiliations" onclick="return false;">Affiliations</a>
          {% endif %}
          {% if presenter.edit_mode or presenter.has_teaching %}
            <a id="tabTeachingBtn" class="btn btn-default" href="#Teaching" title="Teaching" onclick="return false;">Teaching</a>
          {% endif %}
          {% if presenter.edit_mode or presenter.has_details %}
            <a id="tabAllBtn" class="btn btn-default" href="#All" title="View All" onclick="return false;">View All</a>
          {% endif %}
          {% if presenter.faculty.cv_link %}
            <a class="btn btn-default" href="{{ presenter.faculty.cv_link }}" target="_blank" title="Curriculum Vitae">Curriculum Vitae [PDF]</a>
          {% endif %}
        </div>
      </section>
    </section>
  </div>
</div>
