<div class="card mb-4" id="people-right-panel">
  <div class="card-body">
    <div id="section_overview">
      <h2 class="vcard foaf-person individual_overview hidden-xs">{{ presenter.faculty.name }}</h2>
      {% include "vivo/people/includes/tabs/overview.html" %}
      
      <!-- Minimal tab placeholders for parity scaffolding -->
      {% include "vivo/people/includes/tabs/publications.html" %}
      {% include "vivo/people/includes/tabs/research.html" %}
      {% include "vivo/people/includes/tabs/background.html" %}
      {% include "vivo/people/includes/tabs/affiliations.html" %}
      {% include "vivo/people/includes/tabs/teaching.html" %}
    </div>
  </div>
</div>
