{% extends 'base.html' %}
{% load static %}

{% block title %}Researchers@Brown Help{% endblock %}

{% block body_class %}home help{% endblock %}

{% block content %}
  {% include 'vivo/includes/search_box.html' %}

  <div class="container">
    <div class="row">
      <h2>Researchers@Brown Help</h2>
      <ul>
        <li>
          <h3>General information</h3>
          <p>For general information about this site visit the
            <a href="{% url 'about' %}">About Researchers@Brown</a> page. For information about
            the implementation of VIVO at Brown see <a href="{% url 'history' %}">VIVO History and
            Implementation</a>. To learn about current and future development plans
            see <a href="{% url 'roadmap' %}">Researchers@Brown Roadmap</a>.
          </p>
        </li>

        <li>
          <h3>FAQ</h3>
          <p>We also keep a list of <a href="{% url 'faq' %}">Frequently Asked Questions</a> that you
            might find useful.</p>
        </li>

        <li>
          <h3>Editing your profile information</h3>
          <p>Click "Manage your profile" on the top right of any page and you will be
            prompted to login to the profile manager. You can also watch this
            <a href="http://www.screencast.com/t/6LKyqKgT2" target="_blank" rel="noopener">step by step tutorial</a> (8 minutes)
            to learn more about the different sections of information that you can edit. <em>Note: this
            tutorial uses an older version of the public profile but the editing interface is the same.</em>
          </p>
          <p>See <a href="https://www.brown.edu/initiatives/translational-research/news/2017/09/have-you-checked-your-researchersbrown-profile-lately">
            "Have You Checked Your Researchers@Brown Profile Lately?"</a> by Advance Clinical and Translational Research (Advance-CTR).<br />
            <a href="https://www.brown.edu/initiatives/translational-research/news/2017/09/have-you-checked-your-researchersbrown-profile-lately">
              <img src="{% static 'images/vivo_blank_profile.jpg' %}" alt="Researchers@Brown profile screenshot"></a>
          </p>
        </li>

        <li>
          <h3>Visualizations</h3>
          <p><img src="{% static 'images/viz_mini.png' %}" style="float: left;" alt="Visualization icon">Your Brown co-author and
          Brown collaborator networks are now available as visual representations at the
          individual and departmental levels. Click <a href="{% url 'help_viz' %}">here to learn more</a>.</p>
        </li>

        <li>
          <h3>Managing your publications</h3>
          <p>Publications are an important part of your profile and there are several
            options to manage them. Visit the <a href="{% url 'publications' %}">Managing Your Publications</a>
            page to get details or watch this <a href="http://www.screencast.com/t/BPcARDBuyZS" target="_blank" rel="noopener">short tutorial</a>
            (4 minutes).
          <em>Note: this tutorial uses an older version of the public profile but the
            editing interface is the same.</em>
          </p>
        </li>

        <li>
          <h3>Contact Us</h3>
          <p>If you have any suggestions, problems, or questions not addressed in the <a href="{% url 'faq' %}">FAQ</a> you can submit
            them to us via <a href="{{ contact_us_url }}">this form</a>.
            We'd love to hear from you.
          </p>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
